[defaults]
callbacks_enabled = stig_xml_custom
force_color = true
timeout = 120

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ForwardAgent=yes

[privilege_escalation]
become_flags = -H -S --preserve-env=SSH_AUTH_SOCK
